<x-dynamic-component
    :component="$getFieldWrapperView()"
    :field="$field"
>
    <div
        wire:ignore
        x-data
        x-init="
            window.dispatchEvent(new CustomEvent('my-page-builder:init', {
                detail: {
                    statePath: @js($getStatePath()),
                    value: @js($getState()),
                    preset: $el.dataset.blocksPreset,
                }
            }))
        "
        data-blocks-preset="{{ $getExtraAttributes()['data-blocks-preset'] ?? 'marketing' }}"
        class="min-h-[600px]"
    ></div>
</x-dynamic-component>
